/*index.html CSS*/
body{
    margin:0px;
    border:0px;
}

    .header{
    height:80px;
    
    }
    
    .special {
        float:right;
        padding:30px;
        text-decoration: none;
        color: maroon;
    }
    
    .title {
        color: maroon;
        float:left;
        font-family: sans-serif;
    }

    ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	li {
    display: inline;
}

.topnav{
    overflow: hidden;
    background-color: maroon;
}

.topnav a {
    float: left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .topnav a:hover {
    background-color:black;
    color:white;
    }

    .search-form{
        margin-top: 15px;
        float: right;
        margin-right: 100px;
    }

    .search-form input[type="text"]{
        padding: 7px;
        border: none;
        font-size: 16px;
        font-family: sans-serif;
    }

    button{
        float: right;
        background-color: black;
        color: white;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        position:relative;
        padding: 7px;
        font-family: sans-serif;
        border: none;
        font-size: 16px;
    }

        section{
            width:100%;
            background-color: white;
            height:500px;
        }

/*CSS for the popup for posting a question*/

        .modal-container{
            width:100%;
            height: 100%;
            position: fixed;
            background-color: black;
            opacity: 0;
            pointer-events: none;
            transition: all 500ms ease;
            top: 0px;
        }

        .modal-container:target{
            opacity: 1;
            pointer-events: auto;
        }

        .modal-container > div{
            transform: translate(0px, -50px);
            transition: all 500ms ease;
        }

        .modal-container:target > div{
            transform: translate(0px, 0px);
            transition: all 500ms ease;
        }

        .modal{
            width: 500px;
            height:400px;
            margin: auto;
            position: absolute;
            top:0px; bottom: 0px;
            right: 0px; left: 0px;
            background: white;
            border: 2px maroon;
            padding: 20px;


        }

        .modal-heading{
            width: 100%;
            display: block;
            height: 60px;
            margin-bottom: 30px;
            color:maroon;
            padding: 10px;
            box-sizing: border-box;
            text-align: center;
            font-size: 20pt;
            font-family: sans-serif;
            border-bottom: 2px solid maroon;
        }

       .modal-form input[type="text"], .modal-form input[type="submit"]{
            margin-bottom: 15px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid maroon;
            height: 50px;
            font-size: 12pt;

        }

       .modal-form textarea{
            margin-bottom: 15px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid maroon;
            height: 120px;
            font-size: 12pt;
        }

        .btnPostQuestion{
            background-color:maroon;
            color: white;
            font-size:15pt ;
            margin-top: 10px; 
        }

        .btnPostQuestion:hover{
            background-color:red;
        }

        .close{
            position:absolute;
            color: white;
            border: 2px solid #333;
            padding: 7px 9px 11px 9px;
            font-family: big john;
            background:maroon;
            text-decoration: none;
            top: -20px;
            right: -20px;
            border-radius: 50%;
            transition: background 500ms;
        }

        .close:hover{
            background:red;
            cursor:pointer;
        }


/* CSS for the footer*/
        footer {
                background-color:rgb(29, 27, 27);
                padding: 8px;
                text-align: center;
                color: white;
        }


            /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
            @media (max-width: 600px) {
                .topnav{
                    float: none;
             }
            }